<ion-view view-title="Asignaturas" ng-init="init()">
  <ion-nav-buttons side="right">
     <button class="icon ion-plus icon-positive" ng-click="addAsignature()">
     </button>
   </ion-nav-buttons>

   <ion-nav-buttons side="left">
      <button class="icon ion-person" ng-click="logout()">
        Salir
      </button>
    </ion-nav-buttons>


  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="asignatura in asignaturas" type="item-text-wrap" href="#/asignaturas/{{asignatura.id}}">

        <h2>{{asignatura.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="item-note" ng-style="NoteColor">
          {{prom(asignatura)}}
        </span>
        <ion-option-button class="button-assertive" ng-click="remove(asignatura)">
          Eliminar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
