<ion-view view-title="Evaluación">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre Evaluación</span>
        <input type="text" required placeholder="Matematicas">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nota</span>
        <input type="text" required value="4">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Porcentaje</span>
        <input type="text">
      </label>
      <button class="button button-block button-positive">
      Añadir
    </button>
    </div>
  </ion-content>
</ion-view>
